<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="header">
        <div class="menu">
            <div class="wrapper">
                <nav class="nav">
                    <h1 class="header-logo">
                        <a href="/places">Places App</a>
                    </h1>

                    <% if (user) { %>
                        <div class="user-hello">
                            <div class="username">
                                Hello, <%= user.username %>
                            </div>
                            <form action="/auth/logout" method="post">
                                <button type="submit" class="logout-btn">Logout</button>
                            </form>
                        </div>
                    <% } else { %>
                        <a href="/login-page" class="login-link">Login</a>
                    <% } %> 
                    
                </nav>
            </div>
        </div>
    </header>