<%- include('includes/header') %>
    <main class="main">
        <div class="wrapper">
            <div class="not-found-container">
                <h1 class="not-found-title">404!</h1>
            </div>
        </div>
    </main>

    
</body>
</html> 