<%- include('includes/header') %>
    
        <div class="login-form-container">
            <form action="/auth/login" class="form login-form" method="post">
                <h2 class="form-title">Sign in form</h2>
                <div class="form-control">
                    <label for="login-username-input">username</label><br>
                    <input type="text"  name="username"  id="login-username-input" >
                    <div class="form-field-error login-username-error">
    
                    </div>
                </div>
                <div class="form-control">
                    <label for="login-password-input">password</label><br>
                    <input type="password" name="password"  id="login-password-input" >
                    <div class="form-field-error login-password-error">
                        
                    </div>
                </div>
    
                <div class="<%= errors.length ? 'form-error' : '' %>">
                    <%= errors %>
                </div>

        
                <button class="form-btn" type="submit">Login</button>
            </form>
        </div>
    </div>

    <script src="/js/login-page.js"></script>
</body>
</html>